<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 11th Portal | Excellence No-1 Vocational Bhind | Vocational Portal</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <script src="https://kit.fontawesome.com/f87a898598.js" crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <header>
            <div id="logo"><a href="/">Vocational Portal<br> School Management System</a></div>
            <button id="show-nav-btn"><i class="fa-solid fa-bars-staggered"></i></button>
        </header>

        <section class="portal">
            <div class="portal-area">
                <div class="portal-heading">
                    <h2>Fill Form for Class 11th.</h2>
                </div>
                <div class="portal-subheading">
                    <h3>Join the sector.</h3>
                </div>
                <form action="/11th-portal" method="post">
                    <h2 class="breakers">Personal Information</h2>
                    <label for="fullname">Full Name</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Enter Your Full Name">
                    <label for="fathername">Father Name</label>
                    <input type="text" name="fathername" id="fathername" placeholder="Enter Your Father Name">
                    <label for="fathername">Mother Name</label>
                    <input type="text" name="mothername" id="mothername" placeholder="Enter Your Mother Name">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label for="category">Category</label>
                    <select name="gender" id="gender">
                        <option value="General">General</option>
                        <option value="OBC">OBC</option>
                        <option value="SC">SC</option>
                        <option value="ST">ST</option>
                    </select>
                    <label for="adhaar">Adhaar No.</label>
                    <input type="text" name="adhaar" id="adhaar" placeholder="Enter Your Adhaar No.">
                    <label for="sssmID">Samagra ID</label>
                    <input type="text" name="sssmID" id="sssmID" placeholder="Enter Your Samagra ID">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob" placeholder="Enter Your Samagra ID">

                    <!-- Academic Information -->

                    <h2 class="breakers">Academic Information</h2>
                    <label for="rollNumber"> Roll Number</label>
                    <input type="text" name="rollNumber" id="rollNumber" placeholder="Enter Your Class X Roll Number">
                    <label for="marks">Marks Obtained</label>
                    <input type="number" name="marks" id="marks" placeholder="Enter Your Class X Marks">
                    <label for="stream">Stream</label>
                    <select name="stream" id="stream">
                        <option value="IT">Information Technology</option>
                        <option value="security">Security</option>
                    </select>

                    <!-- Contact Information -->
                    <h2 class="breakers">Contact Information</h2>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" placeholder="e.g. +91 7566888870">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" placeholder="Enter Your Address">
                    <button class="btn-peela btn portal-btn" type="submit">Apply</button>

                </form>
            </div>
            <div class="image-wrap">
                <img src="/images/Portal-img-1.jpg" alt="">
            </div>
        </section>




        <footer>
            <div id="footer-title">
                <h1>Now it is digital !!!</h1>
            </div>
            <button class="btn-peela btn" id="show-class-btn"><a href="/9th-portal">Apply Now</a></button>

        </footer>
    </main>


    <script src="https://unpkg.com/lenis@1.1.5/dist/lenis.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/javascripts/main.js"></script>
    <script>
    </script>
</body>

</html>